[submodule "Humper"]
	path = Humper
	url = https://github.com/RealityStop/Humper
[submodule "duality"]
	path = duality
	url = https://github.com/RealityStop/duality.git
[submodule "Deque"]
	path = Deque
	url = https://github.com/StephenCleary/Deque.git
